@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 14px;
	background-color: #151515;
}

::-webkit-scrollbar-track {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb {
	background-color: #373737;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #454545;
}

@font-face {
	font-family: condensed;
	src: url(../fonts/bahnschrift_condensed.TTF);
}

#notification::after {
	content: " ";
	width: 40px;
	height: 25px;
	background-color: white;
	position: absolute;
	top: 15px;
	left: -15px;
	opacity: 0;
	display: none;
}

#notification:hover #notification-info {
	display: initial;
}

#notification:hover::after {
	display: initial;
}

#notification-info::before {
	content: " ";
	width: 15px;
	height: 15px;
	background-color: white;
	position: absolute;
	bottom: 112px;
	right: 8px;
	clip-path: polygon(50% 36%, 0 100%, 100% 100%);
}

#profile:hover #profile-info {
	display: initial;
}

#profile:hover #caret-down {
	transform: rotate(180deg);
}

#profile::after {
	content: " ";
	width: 35px;
	height: 20px;
	background-color: white;
	position: absolute;
	top: 30px;
	left: -10px;
	opacity: 0;
	display: none;
}

#profile:hover::after {
	display: initial;
}

#profile-info::before {
	content: " ";
	width: 15px;
	height: 15px;
	background-color: white;
	position: absolute;
	top: -17px;
	right: 11px;
	clip-path: polygon(50% 36%, 0 100%, 100% 100%);
}


.games-carrousel::-webkit-scrollbar {
	height: 8px;
}

#popular-text {
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}

.games {
	border: 1px solid transparent;
}

.games:hover {
	border: 1px solid white;
}

.gameflix-icon {
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
}

#header-content {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.908000700280112) 0%, rgba(25,25,25,0) 100%);
}

.text-format {
	font-family: "condensed", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

#game-public-rating::first-letter {
	text-transform: uppercase;
}



